.head {
    text-align: center; /* Mengatur elemen dalam head agar berada di tengah */
    margin-top: 35px;  /* Memberi jarak agar tidak terlalu berdekatan dengan tombol login */
}

.head-h1 {
    font-size: 24px;
}

.head-h2 {
    font-size: 20px;
}

/* Container untuk layout utama */
.container {
    padding: 20px;
}

/* Tombol hari */
.day-buttons {
    margin-bottom: 20px;
}

.day-buttons button {
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.day-buttons button:hover {
    background-color: #0056b3;
}

.day-buttons button.active {
    background-color: #0056b3; /* Warna saat tombol aktif */
}

/* Dropdown hari */
.day-select {
    margin-bottom: 20px; /* Beri ruang di bawah dropdown */
}

.day-select label {
    font-size: 18px; /* Ukuran font label lebih besar */
    font-weight: bold;
    margin-right: 10px; /* Jarak antara label dan dropdown */
}

.day-select select {
    font-size: 18px; /* Ukuran font lebih besar */
    padding: 6px 1px; /* Tambahkan padding */
    border-radius: 10px; /* Sudut melengkung */
    border: 2px solid #007bff; /* Border biru */
    background-color: #f8f9fa; /* Background terang */
    color: #333; /* Warna teks */
    transition: all 0.3s ease; /* Efek transisi */
    cursor: pointer; /* Kursor pointer */
}

.day-select select:hover {
    background-color: #e2e6ea;
    border-color: #0056b3; 
}

.day-select select:focus {
    outline: none; /* Hilangkan outline default */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Shadow saat fokus */
}

/* Tabel jadwal */

.schedule-table th,
.schedule-table td {
    border: 1px solid #d8d8d8; 
    padding: 0; 
    text-align: center; 
    height: 60px; 
    vertical-align: middle;
    min-width: 220px; 
    
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow-x: auto;
    display: block;
    white-space: nowrap;
    max-width: 100%;
}



.schedule-table th {
    background-color: #063d63;
    color: #fff;
}

/* Kolom waktu sticky */
.sticky-time {
    position: sticky;
    left: 0;
    background-color: #f8f8f8;
    z-index: 1;
    min-width: 100px; 
}

.schedule-matkul {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    box-sizing: border-box;
    padding: 8px; 
    font-size: 1rem; /* Ukuran font lebih besar */
}

/* Container scroll */
.container {
    overflow-x: auto;
    padding: 20px;
}




