.head {
    text-align: center;
    margin-top: 35px;
}

.head-h1 {
    font-size: 24px;
}

.head-h2 {
    font-size: 20px;
}

/* Container untuk tabel */
.container {
    padding: 20px;
    overflow-x: auto;
}

/* Styling untuk dropdown hari */
.day-select {
    margin-left: 25px;
}

.day-select label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.day-select select {
    font-size: 18px;
    padding: 6px 1px;
    border-radius: 10px;
    border: 2px solid #007bff;
    background-color: #f8f9fa;
    color: #333;
    transition: all 0.3s ease;
    cursor: pointer;
}

.day-select select:hover {
    background-color: #e2e6ea;
    border-color: #0056b3;
}

.day-select select:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

/* Styling untuk tabel */
.schedule-table {
    width: 100%;
    border-collapse: collapse; 
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #d8d8d8; 
    padding: 10px;  
    text-align: center; 
    vertical-align: middle; 
    min-width: 220px;  
}

/* Styling untuk header tabel */
.schedule-table th {
    background-color: #063d63;
    color: white;
}

/* Styling untuk waktu di kolom kiri agar tetap terlihat saat di-scroll */
.sticky-time {
    position: sticky;
    left: 0;
    background-color: #f8f8f8;
    z-index: 1;
    min-width: 100px;
}

/* Styling untuk elemen jadwal mata kuliah */
.schedule-matkul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 1rem;
    background-color: #007bff;  
    border-radius: 5px;
    margin: 2px;
}

.schedule-matkul.conflict {
    background-color: #ff4d4d;  
}

.schedule-matkul span {
    font-weight: bold;
}

/* Styling untuk dosen pada setiap mata kuliah */
.dosen-left {
    text-align: left;
    display: block;
    width: 100%;
    margin-left: 0;
}

/* Styling untuk pesan loading dan error */
.loading-message, .error-message {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.loading-message {
    color: #007bff;
}

.error-message {
    color: #ff0000;
}

/* Responsif untuk tampilan pada perangkat dengan lebar layar lebih kecil */
@media (max-width: 768px) {
    .schedule-table th,
    .schedule-table td {
        width: 100px;  
        font-size: 12px;  
    }
}

/* Memperbaiki padding dan ukuran kolom */
.schedule-table th,
.schedule-table td {
    padding: 1px;
    vertical-align: middle;
    width: 450px;
    height: 90px;
    box-sizing: border-box;
}

/* Menambahkan efek sticky pada kolom pertama */
.schedule-table th:first-child,
.schedule-table td:first-child {
    position: sticky;
    left: 0;
    background-color: #f8f8f8; 
    z-index: 1;  
}

.schedule-table th:first-child {
    background-color: #063d63; 
}
